<div class="container p-3">
  <div class="d-flex w-100 my-2">
    <button routerLink="product/list" class="btn btn-primary mx-1">Ürün Listesi</button>
    <button routerLink="product-group/list" class="btn btn-primary mx-1">Ürün Grubu Listesi</button>
    <button routerLink="customer/list" class="btn btn-primary mx-1">Müşteri Listesi</button>
  </div>

 <div class="d-flex w-100">
   <button routerLink="product/add" class="btn btn-outline-primary mx-1">Ürün Ekle</button>
   <button routerLink="product-group/add" class="btn btn-outline-primary mx-1">Ürün Grubu Ekle</button>
   <button routerLink="customer/add" class="btn btn-outline-primary mx-1">Müşteri Ekle</button>
 </div>
</div>
